# Python virtual environment
env/
venv/
#Python cache
__pycache__/
*.pyc
#vector database
vectorstore/
#Logs
*.log
#OS files
.DS_Store
Thumbs.db
#Node Modules
node_modules/
#React build
build/
#Environment variables
.env
# VS Code settings
.vscode/
#dotenv files
.env.local
.env.development.local
.env.test.local
.env.production.local
#Docker volumes
volumes/